body {
  background-color: gray;
  /* Use a system font, if none are available use an available sans-sarif   font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

section.board {
  display: grid;
  grid-template-rows: repeat(3, 10vmin);
  grid-template-columns: repeat(3, 10vmin);
  grid-gap: 0vmin;
}

div {
  border: 3px solid black;
  font-size: 8vmin;
  text-align: center;
  vertical-align: middle;
}
